.logo-green {
   position: absolute;
   bottom: 0;
   right: 0;
}

.logo-green img {
   max-width: 10em;
}

/* Navigation */

.navbar-default {
   background-color: #447324;
   padding: 1em 1em 0 1em;
   color: white;
}

.navbar-brand {
  float: none;
  }

.navbar-center
{
   text-align: center;
}

.main-title {
   margin-top: 0;
}

.menu-button, .menu-button:hover, .menu-button:visited, .menu-button:active {
   color: white;
   text-decoration: none;
   cursor: pointer;
}

.navbar-title {
   margin: 0 auto;
   width: 3em;
   text-align: center;
}

.sub-nav {
   margin-bottom: 0;
   margin-top: 1em;
}

.sub-nav li {
   margin-top: 0.1em;
}
.sub-nav-button {
   padding: 1em;
   width: 100%;
   background: white;
   text-align: center;
}

.sub-nav-button a {
   color: green;
}

/* form elements */
.reg-btn {
   background-color: #35591c;
   width: 93%;

}

/* Products */
.product-container {
   position: relative;
}

.product-image {
   max-width: 100%;
   height: auto;
}

.product-name {
   position: absolute;
   top: 0em;
   left: 1em;
   z-index: 999;
   padding: 0.5em;
   color: white;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 300;
   background-color: rgba(0, 0, 0, 0.4);
   background: rgba(0, 0, 0, 0.4);
}
