.navbar-default {
   background-color: #447324;
   padding: 1em;
   color: white;
}

.navbar-title {
   margin: 0 auto;
   width: 10em;
   text-align: center;
}

.reg-btn {
   background-color: #35591c;
   width: 100%;
}

.logo-green {
   position: absolute;
   bottom: 0;
   right: 0;
}

.logo-green img {
   max-width: 10em;
}