<!DOCTYPE html>
<html ng-app="pumaApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
        <link href="css/main.css" rel="stylesheet">
        <link href="css/ryan.css" rel="stylesheet">
    </head>
    <body>
    <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="pull-left"><i class="fa fa-chevron-left"></i> Back</span>
                <h4 class="navbar-title">Create Account</h4>
            </div>
        </div>
    </nav> -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavBarCtrl">
        <div class="container">
            <div class="navbar-header">
                <div class="col-xs-4">
                    <span><i class="fa fa-chevron-left"></i> Back</span>
                </div>
                <div class="col-xs-4">
                    <span class="navbar-center"><h4 class="main-title">Title</h4></span>
                </div>
                <div class="col-xs-4">
                    <span class="pull-right"><a ng-click="navToggle()" class="menu-button"><i class="fa fa-bars"></i> Menu</a></span>
                </div>
            </div>
        </div>

        <div ng-show="isCollapsed" class="sub-nav">
            <ul class="list-unstyled list-inline">
                <li class="sub-nav-button"><a ng-click="navClick()" href="#/">Home</a></li>
                <li class="sub-nav-button"><a ng-click="navClick()" href="#/products">Products</a></li>
                <li class="sub-nav-button"><a ng-click="navClick()" href="#/products">Something</a></li>
            </ul>
        </div>
    </nav>

    <ng-view</ng-view>

    <!-- jQuery -->
    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="js/main.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    </body>
</html>